div {
     border: 1px solid black;
    background-image: url();
     background-color: red margin: 5px;
     padding: 10px;
}
 #content {
     border: 5px dotted orange;

     margin: auto;
     width: 70%;
}
 .linksBox{
     background-color: blue;
}
 a {
}
 a:hover{
   background-color: red

}
 a:visited{
   color: black
}

  .linksBox1{
    background-color: orange
  }
  @media only screen and (max-width: 1200px) {
  body {
    background-color: red
}
